body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    min-height: 100px;
    margin: auto;
}

.content-section_theme_dark {
    color: #fff;
    background-color: #131313;;
}

.content-section_theme_bright {
    color: #131313;
    background-color: rgb(254, 228, 42);
}

.header {
    padding: 24px 20px 24px 20px;
    display: flex;
    justify-content: space-between;
}

.header__menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__menu-link {
    color: rgb(245, 245, 245);
    font-size: 16px;
    text-decoration: underline;
}

.header__menu-link_active {
    text-decoration: none;
}

.cover {
    padding: 0;
    min-height: 258px;
    background-image: url(/images/cover.svg);
    background-size: 95% auto;
    background-repeat: no-repeat;
    background-position: right center;
}

.cover__title {
    color: rgb(255, 255, 255);
    font-family: EB Garamond, Georgia, serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    padding: 7px 24px 5px 20px;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro {
    padding: 30px 20px 37px 20px;
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro__heading {
    color: rgb(204, 204, 204);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

.reasons {
    padding: 40px 20px 40px 20px;
    color: #191919;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-section__subtitle {
    font-family: EB Garamond, Georgia, serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 115%;
}

.content-section__introduction {
    font-size: 20px;
    line-height: 27px;
}

.content-section__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
}

.content-section__list-item_text {
    font-size: 16px;
}

.content-section__list-accent {
    font-weight: bold;
}

.how-to {
    padding: 40px 20px 60px 20px;
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cards-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    padding: 20px;
    border-radius: 30px;
    font-size: 16px;
}

.card_theme_dark {
    background-color: rgb(52, 52, 52);
    color: rgb(245, 245, 245);
}

.card_theme_bright {
    background-color: rgb(254, 228, 42);
    color: rgb(19, 19, 19);
}

.card__author, .card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__author-name {
    font-weight: 700;
    line-height: 135%;
}

.card__title {
    font-family: EB Garamond, Georgia, serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 135%;
}

.footer {
    padding: 20px;
    color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(254, 228, 42);
}

.footer__copy {
    font-size: 16px;
    line-height: 135%;
}

.footer__links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.footer__links-item_link {
    font-size: 14px;
    line-height: 125%;
    color: rgb(245, 245, 245);
    text-decoration: none;
}